<h1>Create a Team and Heroes!</h1>

<form method="post" action="/team">

<label>Team Name:</label><br>
<input name="team[name]" type= "text"><br>
<label>Team Motto:</label></br>
<input name="team[motto]" type= "text"><br>
<h2>Hero 1</h2>
<label>Hero's Name:</label><br>
<input id="member1_name" type= "text" name="team[members][][name]"><br>
<label>Hero's Power:</label><br>
<input id="member1_power" type= "text" name="team[members][][power]"><br>
<label>Hero's Biography:</label><br>
<input id="member1_bio" type= "text" name="team[members][][biography]"><br>

<h2>Hero 2</h2>
<label>Hero's Name:</label></br>
<input id="member2_name" type= "text" name="team[members][][name]"><br>
<label>Hero's Power:</label></br>
<input id="member2_power" type= "text" name="team[members][][power]"><br>
<label>Hero's Biography:</label></br>
<input id="member2_bio" type= "text" name="team[members][][biography]"><br>

<h2>Hero 3</h2>
<label>Hero's Name:</label></br>
<input id="member3_name" type= "text" name="team[members][][name]"><br>
<label>Hero's Power:</label></br>
<input id="member3_power" type= "text" name="team[members][][power]"><br>
<label>Hero's Biography:</label></br>
<input id="member3_bio" type= "text" name="team[members][][biography]"><br>
<br>
<button type="submit" value="submit">Submit</button>
</form>